jobs:
  update-doc:
    name: Update Documentation (OpenAPI) on Theneo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Update Documentation on Theneo (OpenAPI)
        uses: Theneo-Inc/api-documentation@1.8.0
        with:
          FILE_PATH: openapi-v2.yaml
          PROJECT_SLUG: bigreal
          VERSION_SLUG: v2
          WORKSPACE_SLUG: test-21
          SECRET: ${{ secrets.THENEO_SECRET }}
          AUTO_PUBLISH: true
          IMPORT_OPTION: merge
          PARAMETER_DESCRIPTION_MERGE_STRATEGY: keep_new
          SECTION_DESCRIPTION_MERGE_STRATEGY: keep_old
          INCLUDE_GITHUB_METADATA: true

  update-markdown:
    name: Update Documentation (Markdown) on Theneo
    runs-on: ubuntu-latest
    needs: update-doc
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install Theneo CLI
        run: npm i -g @theneo/cli@latest

      - name: Login to Theneo CLI
        env:
          THENEO_SECRET: ${{ secrets.THENEO_SECRET }}
        run: |
          theneo login --secret "$THENEO_SECRET"

      - name: Import Markdown to Theneo
        run: |
          theneo import \
            --project bigreal \
            --projectVersion v2 \
            --workspace test-21 \
            --dir ./theneo-markdown
